<div class="Index">
@{
    ViewBag.Title = "Bienvenido";
}

<h1>Bienvenido al Ahorcado</h1>

<p>
    El ahorcado es un juego clásico donde tenés que adivinar una palabra secreta, letra por letra.
    Cada vez que te equivocás, se cuenta un intento. Si te equivocás al arriesgar la palabra… ¡perdés!
</p>

<p>
    ¡Para jugar, presioná <a href='@Url.Action("Juego","Home")'>aquí</a>!
</p>
</div>