.perdiste{
  background-color: red;
}
.Juego{
  background-color: rgb(72, 207, 207);
}
.ganaste{
  background-color: green;
}
.Index{
  background-color: yellow;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: solid;
  text-align: center;
  font-size: larger;
}
p, label{
  font-family: cursive;
}